.contact {
    text-align: center;
    background-color: $bg-section-color2;
    padding: 20px 0;

    

    &__box {
        display: flex;
        justify-content: space-between;
        color: $font-color;
        flex-direction: column;

        @media (min-width: 1000px ) {
            flex-direction: row;
            justify-content: space-evenly;
        }

    }

    &__items {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        
        i {
            margin-left: 25px;
            margin-right: 5px;
            color: green;

            @media (min-width: 800px ) {
                margin-left: 45px;
            }

            
        
        }

        
    }

   

}
