$bg-section-color1: #ffffff;
$bg-section-color2: #8c00ff;
$bg-section-color3: #00a8ff;
$bg-button-color: green;
$bg-button-color-hoover: #00a8ff;
$font-color: white;
$font-color2: #8c00ff;
$font-color-title: green;

$font-size-title: 32px;